.article {
   width: 100%;
   display: grid;
   grid-template-areas: "sidebar-left article-card sidebar-right";
   grid-template-columns: 1fr 2fr 1fr;
   gap: 20px;
   padding: 3rem 10rem;
}

.article-sidebar-left {
   grid-area: sidebar-left;
   width: 80%;
   justify-self: end;
}

.article-sidebar-right {
   grid-area: sidebar-right;
   width: 80%;
   justify-self: start;
}

.article-detail-page {
   grid-area: article-card;
   width: 100%;
}

/* Responsiveness */

@media (max-width: 1200px) {
   .article {
      display: grid;
      grid-template-areas:
         "sidebar-right article-card"
         "sidebar-left sidebar-left";
      grid-template-columns: 1fr 2fr;
      gap: 20px;
      padding: 20px 5rem;
   }

   .article-sidebar-left {
      grid-area: sidebar-left;
      width: 100%;
      justify-self: unset;
   }

   .article-detail-page {
      grid-area: article-card;
      width: 100%;
      justify-self: start;
   }

   .article-sidebar-right {
      grid-area: sidebar-right;
      width: 100%;
      justify-self: unset;
   }

   .sidebarRight {
      margin-right: 0;
   }
}

@media (max-width: 800px) {
   .article {
      display: grid;
      grid-template-areas:
         "sidebar-left article-card"
         "sidebar-left sidebar-right";
      grid-template-columns: 1fr 1fr;
      gap: 20px;
   }

   .article-sidebar-left {
      grid-area: sidebar-left;
      width: 90%;
      justify-self: end;
   }

   .article-detail-page {
      grid-area: article-card;
      width: 90%;
      justify-self: start;
   }

   .article-sidebar-right {
      grid-area: sidebar-right;
      width: 90%;
      justify-self: start;
   }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
   .article {
      grid-template-columns: 100%;
      grid-template-areas:
         "article"
         "sidebar-right"
         "sidebar-left";
      padding: 0;
   }

   .article-sidebar-left {
      grid-area: sidebar-left;
      justify-self: center;
      width: 100%;
   }

   .sidebarLeft {
      border-radius: 0;
   }

   .navItems {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
   }

   .navItems li {
      font-size: 0.9rem;
   }

   .links ul li {
      text-align: center;
      font-size: 0.9rem;
   }

   .article-detail-page {
      margin-top: 30px;
      grid-area: article;
      justify-self: center;
      width: 90%;
   }

   .article-sidebar-right {
      grid-area: sidebar-right;
      justify-self: center;
      width: 90%;
   }

   .desc {
      font-size: 0.8rem;
   }
}
